@page "/"

<PageTitle>Home</PageTitle>

<div class="has-text-centered">
    <h1 class="title">Witaj w BeFit</h1>
    <p class="subtitle">Aplikacja do śledzenia treningów i ćwiczeń</p>
    <p>Zarządzaj swoimi sesjami treningowymi, śledź wykonane ćwiczenia i analizuj statystyki.</p>
</div>
