@inherits LayoutComponentBase

<NavMenu />

<div class="container">
    <main role="main" class="section">
        @Body
    </main>
</div>
<footer class="footer">
    <div class="content has-text-centered">
        &copy; 2025 - BeFit
    </div>
</footer>
